
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1000px; /* galeria de fotos*/
    margin: 0 auto;
  }
 
  .img {
    max-width: 100%; /* tamanho das imagens*/
    height: auto;
    width: auto;
    border: 1px solid #ddd;
  }
 
  .prev, .next {
    position: absolute;
    top: 50%; /* botão */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
     background-color: beige;
  }
 
  .prev {
    left: 10px;
  }
 
  .next {
    right: 10px;
  }

  
  .borda{
    border: 2px solid black;
    border-radius: 5px;
}

.fundo{
    background-color: beige;
}
